name: Waka Readme

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: # <--- Adicione este bloco
  contents: write
jobs:
  update-readme-with-wakatime:
    name: WakaTime Readme Stats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # USANDO A ACTION OFICIAL DO WAKATIME
      - uses: wakatime/docs-action@master 
        with:
          # Sua chave de API do WakaTime (SECRETA)
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          # O arquivo que deve ser atualizado
          COMMIT_BY_ACTION: true
