name: WakaTime Readme

on:
  workflow_dispatch:
  schedule:
    # Roda a cada 24 horas (meia-noite UTC)
    - cron: '0 0 * * *'

jobs:
  update-readme:
    name: Update Readme with WakaTime Stats
    runs-on: ubuntu-latest
    steps:
      # Usando o commit hash estável para contornar o problema de tag/versão
      - uses: anmol098/waka-readme-stats@a1a5453a290c01a755d642880c54178385f94947 
        with:
          wakatime_apikey: ${{ secrets.WAKATIME_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }} 
          theme: "aura"
          show_loc: "False"
          show_days_of_week: "False"
          show_short_info: "False"
          SECTION_NAME: 'waka'
